{% extends 'admin/adminlayout.html' %}

{% load static %}

{%block title%}
<title>category</title>

{% endblock %}


{% block main-content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">

            {% for msg in messages %}

            {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success">
                {{msg}}
            </div>
           
            {% endif %}

            {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger">
                {{msg}}
            </div>
            {% endif %}

            {% endfor %}

            <table class="table table-bordered table-striped">
                <tr>
                    <th>category Name</th>
                    <th>Action</th>
                </tr>
                {% for category in categories %}
                <tr>
                    <td>{{category.category_name}}</td>
                    <td>
                        <a href="/products/updatecategory/{{category.id}}" class="btn btn-primary"><i class="fa-sharp fa-solid fa-pen-to-square "></i></a>
                        &nbsp; &nbsp;
                        <a href="/products/deletecategory/{{category.id}}" class="btn btn-danger" onclick="return confirm('are you sure want to delete this category?')"><i class="fa-sharp fa-solid fa-trash"></i></a>
                    </td>

                    
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

    {% endblock %}