{% extends 'layouts.html' %}

{% load static %}

{%block title%}

<title>Ecommerce-Cart</title>
{% include 'userpage/header.html' %}

{% endblock %}


{% block main-content %}

<!-- start of cart section  -->
<div class="container">
    <div class="row d-flex justify-content-center">
        {% for msg in messages %}

        {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success">
            {{msg}}
        </div>

        {% endif %}

        {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger">
            {{msg}}
        </div>
        {% endif %}

        {% endfor %}
        <table class="table table-bordered table-striped my-5">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Product Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                <tr>
                    <td>{{item.product.Product_name}}</td>
                    <td>Rs.{{item.product.Product_price}}</td>
                    <td> <img src="/{{item.product.Product_image}}" alt="{{item.product.Product_name}}" width="100">
                    </td>
                    <td>
                        <a href="/order/{{item.product.id}}/{{item.id}}" class="btn btn-warning">Order Now</a>
                        <a href="/deletecartitem/{{item.id}}" class="btn btn-danger"
                            onclick="return confirm('are you sure want to delete this?')">
                            <i class="fa-sharp fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<!-- end of cart section  -->
{% include 'userpage/footer.html' %}
{% endblock %}