{% extends 'layouts.html' %}

{% load static %}

{%block title%}

<title>Ecommerce-Home</title>
{% include 'userpage/header.html'%}

{% endblock %}


{% block main-content %}

 <!-- start of product detail section  -->
 <div class="container">
    <div class="row d-flex my-5 shadow justify-content-between">
        <div class="col-md-4">
            <img src="/{{product.Product_image}}" alt="{{product.Product_name}}" width="500">
        </div>
        <div class="clo-md-6">
            <h2 class="card-title">{{product.Product_name}}</h2>
            <h2>Rs.{{product.Product_price}}</h2>
            <p>{{product.Product_description}}</p>
            <a href="/addtocart/{{product.id}}" class="btn btn-warning">Add to Cart</a>
        </div>
    </div>
 </div>
 <!-- end of product detail section  -->
  
  {% include 'userpage/footer.html' %}
  {% endblock %}
  
 

 

