{% extends 'layouts.html' %}

% load static %

{% load crispy_forms_tags %}

{% block title %}

<style>
    .asteriskField{
        color: red;
    }
</style>
<title> Register</title>

{% endblock %}

{% block main-content %} 
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center text-muted">Register Form</h2>
            {% for msg in messages %}

            {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success">
                {{msg}}
            </div>
           
            {% endif %}

            {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger">
                {{msg}}
            </div>
            {% endif %}

            {% endfor %}
            <form action="" class="shadow p-3" method="post">
                {% csrf_token %}
                {{forms | crispy}}
                <div class="my-2">
                    <input type="submit" value="register" class="btn btn-primary">
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}